/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#drawing-area {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

.square {
    background: white;
    border: 1px solid black;
    box-sizing: border-box;
}

.hovered {
    background-color: black;
    opacity: 0.1;
}

#header {
    width: 800px;
    height: 50px;
    margin: 10px 0 10px 0;
}

#controls {
    width: 800px;
    height: 100px;
}

